.git
.gitignore
.venv
venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.env
tests
data/*
!data/evaluation/
!data/evaluation/*.jsonl
!data/institutions/
!data/institutions/*.json
